<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.diary.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/add</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/mydiaries</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/edit</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>com.diary.controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.diary.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsDiaryController</servlet-name>
        <servlet-class>com.diary.controller.DetailsDiaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiaryController</servlet-name>
        <servlet-class>com.diary.controller.AddDiaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.diary.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginСontroller</servlet-name>
        <servlet-class>com.diary.controller.LoginСontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.diary.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydiariesController</servlet-name>
        <servlet-class>com.diary.controller.MydiariesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiaryController</servlet-name>
        <servlet-class>com.diary.controller.DeleteDiaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDiaryController</servlet-name>
        <servlet-class>com.diary.controller.EditDiaryController</servlet-class>
    </servlet>
    <servlet-mapping>   
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>   
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsDiaryController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiaryController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginСontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydiariesController</servlet-name>
        <url-pattern>/mydiaries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiaryController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDiaryController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
